*.js
!jest.config.js
*.d.ts

# CDK asset staging directory
.cdk.staging
cdk.out

# Dependency directories
node_modules

# dotenv environment variables file
.env
.env.test

# DynamoDB Local files
.dynamodb/

# Logs
logs
*.log
npm-debug.log*

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache